html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede a rolagem na página inteira */
}

body {
  background-color: #f4f4f4;
}

/* --- REGRAS DEFINITIVAS PARA ESCONDER A BARRA DO EMULADOR --- */

/* Esconde a versão <p> que encontramos (a atual) */
.firebase-emulator-warning {
  display: none !important;
}

/* Esconde a versão <iframe> que existia antigamente (por garantia) */
body > iframe {
  display: none !important;
}

/* Estilo para os botões da barra de ferramentas quando estiverem ativos */
.is-active {
  background-color: #e0eaff;
  color: #3366ff;
}

/*
  Regra de CSS poderosa e específica para garantir que a seleção de texto
  no editor Tiptap (que usa a classe .ProseMirror) seja sempre permitida.
  O '!important' garante que esta regra vença qualquer outra.
*/
.tiptap-container .ProseMirror {
  user-select: text !important;
}